<div markdown="0" class="row row-cols-auto" data-masonry='{"percentPosition": true }'>
    {% for species in site.species %}
        {% assign speciesBestObservation = site.observations | where: "scientificName", species.scientificName | where: "identificationQualifier", species.identificationQualifier | sort: "rating" | last %}
        <div class="col">
            <div class="card">
                <title>{{ species.scientificName }} {{ species.identificationQualifier }}</title>
                <a href="{{ site.baseurl }}{{ species.url }}"><img alt="{{ species.scientificName }} {{ species.identificationQualifier }}" class="d-block card-img img-thumbnail thumb {% for colour in species.colours %}{{ colour }} {% endfor %}{{ species.family }} {{ species.genus }}" src="{{ site.baseurl }}/assets/images/thumbs/{{ speciesBestObservation.path | split: '/' | last | split: '.' | first }}.jpg" /></a>
            </div>
        </div>
        {% endfor %}
</div>
