{% assign colours = site.species[0].colours %}

{% for species in site.species %}
    {% assign colours = colours | concat: species.colours %}
{% endfor %}

{% assign colours = colours | uniq | sort %}

{% for colour in colours | uniq | sort %}
    {{ colour }}
{% endfor %}

<label for="colour">Colour</label>

<select name="colour" id="colour">
    <option value=""></option>
    {% for colour in colours | uniq | sort %}
        <option value="{{ colour }}">{{ colour | capitalize }}</option>
    {% endfor %}
</select>
