<div markdown="0" class="col-12 col-md-4 col-lg-3">
    <div class="form-floating">
        {% assign genera = site.species | map: "genus" | compact | uniq | sort %}
        <select name="genus" id="genus" class="form-select filter" aria-label="Genus select" onchange="filterThumbs()">
            <option value=""></option>
            {% for genus in genera | sort %}
                <option value="{{ genus }}">{{ genus | capitalize }}</option>
            {% endfor %}
        </select>
        <label for="genus">Genus</label>
    </div>
</div>