<div markdown="0" class="row justify-content-md-center row-cols-1 row-cols-sm-4 row-cols-lg-12 py-3 g-3">
    <form id="filters">
        {% include filterColour.html %}
        {% include filterFamily.html %}
        {% include filterGenus.html %}
        <div class="col">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".collapseCaption" aria-expanded="false">
                    Toggle captions
                </button>
                <button id="reset" type="reset" class="btn btn-primary" onclick="showAllThumbs()">
                    Reset filters
                </button>
            </div>
        </div>
    </form>
</div>