<div markdown="0" class="container-xl">
    <form id="filters" class="row row-cols-1 row-cols-lg-12 py-3 g-3">
        {% include filterColour.html %}
        {% include filterFamily.html %}
        {% include filterGenus.html %}
        <div class="col-12 col-md-4 col-lg-3">
            <div class="d-grid gap-2 d-xl-block">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".collapseCaption" aria-expanded="false">
                    Toggle captions
                </button>
                <button id="reset" type="reset" class="btn btn-primary" onclick="showAllThumbs()">
                    Reset filters
                </button>
            </div>
        </div>
    </form>
</div>