<div markdown="0" class="col-2">
    <div class="form-floating">
        {% assign colours = site.species[0].colours %}
        {% for species in site.species %}
            {% assign colours = colours | concat: species.colours %}
        {% endfor %}
        {% assign colours = colours | uniq | sort %}
        <select name="colour" id="colour_select" class="form-select filter" aria-label="Colour select">
            <option value="" selected></option>
            {% for colour in colours %}
                <option value="{{ colour }}">{{ colour | capitalize }}</option>
            {% endfor %}
        </select>
        <label for="colour">Colour</label>
    </div>
</div>