<div markdown="0">
    <form id="filters" class="row row-cols-1 row-cols-sm-4 row-cols-lg-7 py-3 g-3">
        {% include filterColour.html %}
        {% include filterFamily.html %}
        {% include filterGenus.html %}
        <div class="col">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#caption" aria-expanded="false" aria-controls="caption">
                Toggle captions
              </button>
        </div>
        <div class="col">
            <button id="reset" type="reset" class="btn btn-primary" onclick="showAllThumbs()">
                Reset filters
            </button>
        </div>
    </form>
</div>