<div markdown="0" class="form-group">
    {% assign families = site.species | map: "family" | compact | uniq | sort %}
    <label for="family" class="col control-label">Family</label>
    <div class="col">
        <select name="family" id="family" class="form-control filter">
            <option value=""></option>
            {% for family in families | sort %}
                <option value="{{ family }}">{{ family | capitalize }}</option>
            {% endfor %}
        </select>
    </div>
</div>