<div markdown="0" class="col-2">
    <div class="form-floating">
        {% assign families = site.species | map: "family" | compact | uniq | sort %}
        <select name="family" id="family" class="form-select filter" aria-label="Family select">
            <option value=""></option>
            {% for family in families | sort %}
                <option value="{{ family }}">{{ family | capitalize }}</option>
            {% endfor %}
        </select>
        <label for="family">Family</label>
    </div>
</div>