<div markdown="0" class="form-group">
    {% assign colours = site.species[0].colours %}
    {% for species in site.species %}
        {% assign colours = colours | concat: species.colours %}
    {% endfor %}
    {% assign colours = colours | uniq | sort %}
    <label for="colour" class="col-xs-3 control-label">Colour</label>
    <div class="col-xs-8">
        <select name="colour" id="colour_select" class="form-control filter">
            <option value="" selected></option>
            {% for colour in colours %}
                <option value="{{ colour }}">{{ colour | capitalize }}</option>
            {% endfor %}
        </select>
    </div>
</div>