</main>
<script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/masonry.pkgd.min.js" async></script>
        <div markdown="0" class="container">
            <footer class="row">
                <p class="text-center text-muted">&copy;  {{ site.author.name }}</p>
                <p class="text-center text-muted">Free for reuse under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 licence</a></p>
              </footer>
        </div>
    </body>
</html>