<!doctype html>
    <html lang="en">
            <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
                <title>{{ page.title | downcase | capitalize }} - {{ site.title }}</title>
            </head>
            <body>
                <script src="/assets/js/jquery.js"></script>
                <script src="/assets/js/masonry.pkgd.min.js"></script>
                <script src="/assets/js/bootstrap.bundle.min.js"></script>
                {% include navbar.html %}
                <main class="container">