{% assign families = site.species | map: "family" | compact | uniq | sort %}

<ul>
    {% for family in families | sort %}
        <li>{{ family }}</li>
            <ul>
                {% assign family_species = site.specificEpithet | where: "family", family %}
                {% for species in family_species  %}
                    <li><a href="{{ site.baseurl }}{{ species.url }}">{{ species.scientificName }} {{ species.identificationQualifier }}</a></li>
                {% endfor %}
            </ul>
    {% endfor %}
</ul>