---
layout: default
---

<h1>{{ page.genus }} {{ page.species}} </h1>

<p>{{ page.description }}</p>

<p>Family {{ page.family }}</p>

<h2>Observations</h2>

    {% for observation in site.observations %}
        {% if observation.genus == page.genus and observation.species == page.species %}
                <img style="width: 400;" src="{{ site.baseurl }}/assets/images/{{ observation.path | split: '/' | last | split: '.' | first }}.jpg" />
                {{ observation.day }}/{{ observation.month }}/{{ observation.year }} at {{ observation.diveSiteName}}
        {% endif %}
    {% endfor %}

    <h2>Links</h2>
<p>
    <ul>
        <li><a href="https://www.marinespecies.org/aphia.php?p=taxdetails&id={{ page.aphiaID }}">World Register of Marine Species</a></li>
        <li><a href="https://eol.org/pages/{{ page.eolID }}">Encyclopedia of Life</a></li>
        <li><a href="{{ page.wikipediaURL }}">Wikipedia</a></li>
    </ul>
</p>