---
layout: default
---

<h1>{{ page.scientificName }} {{ page.identificationQualifier}} {{ page.scientificNameAuthorship }}</h1>

<p>Family: {{ page.family }}</p>

<h2>Observations</h2>

    {% for observation in site.observations %}
        {% if observation.scientificName == page.scientificName and observation.identificationQualifier == page.identificationQualifier %}
                <p>
                    <a href="{{ site.baseurl }}{{ observation.url }}"><img class="img-thumbnail" src="{{ site.baseurl }}/assets/images/thumbs/{{ observation.path | split: '/' | last | split: '.' | first }}.jpg" /></a><br />
                    {{ observation.date | date: "%Y-%m-%d %H:%M" }} by <a href="{{ observation.observerORCID }}">{{ observation.observer }}</a> at <a href="http://www.openstreetmap.org/?mlat={{ observation.latitude }}&mlon={{ observation.longitude }}&zoom=12&layers=M">{{ observation.diveSiteName }}</a>
                </p>
        {% endif %}
    {% endfor %}

    <h2>Links</h2>
<p>
    <ul>
        <li><a href="https://www.marinespecies.org/aphia.php?p=taxdetails&id={{ page.aphiaID }}">World Register of Marine Species</a></li>
        <li><a href="https://eol.org/pages/{{ page.eolID }}">Encyclopedia of Life</a></li>
        <li><a href="{{ page.wikipediaURL }}">Wikipedia</a></li>
    </ul>
</p>